    text        //....asp
    text        //....cnf
    text        //....css
    text        //....htm
    text        //....html
    text        //....inc
    text        //....js
    text+w      //....log
    text+w      //....ini
    text+w      //....pdm
    binary+Fl   //....zip
    binary+Fl   //....bz2
    binary+Fl   //....rar
    binary+Fl   //....gz
    binary+Fl   //....avi
    binary+Fl   //....jpg
    binary+Fl   //....jpeg
    binary+Fl   //....mpg
    binary+Fl   //....gif
    binary+Fl   //....tif
    binary+Fl   //....mov
    binary+Fl   //....jar
    binary+l    //....ico
    binary+l    //....exp
    binary+l    //....btr
    binary+l    //....bmp
    binary+l    //....doc
    binary+l    //....dot
    binary+l    //....xls
    binary+l    //....ppt
    binary+l    //....pdf
    binary+l    //....tar
    binary+l    //....exe
    binary+l    //....dll
    binary+l    //....lib
    binary+l    //....bin
    binary+l    //....class
    binary+l    //....war
    binary+l    //....ear
    binary+l    //....so
    binary+l    //....rpt
    binary+l    //....cfm
    binary+l    //....ma
    binary+l    //....mb
    binary+l    //....pac
    binary+l    //....m4a
    binary+l    //....mp4
    binary+l    //....aac
    binary+l    //....wma
    binary+l    //....docx
    binary+l    //....pptx
    binary+l    //....xlsx
    binary+l    //....png
    binary+l    //....raw
    binary+l    //....odt
    binary+l    //....ods
    binary+l    //....odg
    binary+l    //....odp
    binary+l    //....otg
    binary+l    //....ots
    binary+l    //....ott
    binary+l    //....psd
    binary+l    //....sxw
